@CHARSET "UTF-8";

#header_left {
	background-image: url("http://impeesa/index.php?action=resource&file=template/default/img/dpsg_logo.jpg");
	background-repeat: no-repeat;
}

#header_right {
	background-image: url("http://impeesa/index.php?action=resource&file=template/default/img/banner_stammtenkterer.jpg");
	background-repeat: no-repeat;
}

#menu a {
	background-image: url("http://impeesa/index.php?action=resource&file=template/default/img/a_link.gif");
	background-repeat: no-repeat;
}

#menu a:hover {
	background-image: url("http://impeesa/index.php?action=resource&file=template/default/img/a_hover.gif");
	background-repeat: no-repeat;
}

#content h1 {
	background-image: url("http://impeesa/index.php?action=resource&file=template/default/img/h1.jpg");
	background-repeat: no-repeat;
}

#content ul {
	list-style-image: url("http://impeesa/index.php?action=resource&file=template/default/img/list_icon.gif");
}

#content h2 {
	background-image: url("http://impeesa/index.php?action=resource&file=template/default/img/news_back.jpg");
	background-repeat: repeat-y;
}