@CHARSET "UTF-8";

input[type="text"], input[type="password"], textarea {
	border: 1px solid #000000;
	-moz-border-radius:10px;
	margin: 5px;
	padding-left: 3px;
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
	border: 1px solid #811725;
	-moz-box-shadow: 0 0 2px 2px #811725;
}

input[type="submit"]
{
	border: 1px solid #000000;
	-moz-border-radius: 11px;
	background-image: url("%IMPEESA_MAIN_LINK%resource/template-default-img-infoBg.png");
	background-repeat: repeat-x;
	line-height: 13px;
	padding: 3px 8px;
	font-size: 11px !important;
	font-weight: bold;	
	color: #FFFFFF;
}

.inputError {
	background-color: red;
}

label {
	vertical-align: top;
	width: 150px;
	display:block;
	float: left;
}

fieldset {
	margin: 5px 5px;
	border: 1px solid #e3e3e3;
	-moz-border-radius:10px;
}

legend {
	color: #FFFFFF;
	border: 1px solid;
	-moz-border-radius:15px;
	padding: 1px 5px;	
}

table {
	margin-top: 10px;
	border: 1px solid #000000;
	-moz-border-radius:10px 10px 0 0;
	background-color: #70141f;
}

.no-js-hide {
	display:none;
}

.js-hide {
	display: none;
}

#dialog-action
{
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 2px;
}

.gradient
{
	border: 1px solid #e3e3e3;
	-moz-border-radius:0 0 10px 10px;
}