@CHARSET "UTF-8";

body {
	margin: 0px;
	border: 0px;
	padding: 0px;
}

body, html {
	height: 100%;
}

#hp {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 10px;
	min-height: 100%;
	height:auto !important;
	height: 100%;
	position:relative;
	overflow: auto;
}

#header {
	width: 100%;
	height: 125px;
}

#header_left {
	float: left;
	width: 200px;
	height: 125px;
}

#header_right {
	height: 125px;
	margin-left: 200px;
}

#navi_left {
	float: left;
	width: 180px;
	padding-left: 10px;
}

#menuLeft {
	list-style-type: none;
}

.menu {
	margin-left: -40px;
	padding: 25px 0 10px 0; /*top right bottom left*/ 
}

.menu a, .menu a:hover {
	display: block;
	height: 25px;
	width: 150px;
	text-decoration: none;
	margin: 0 0 5px 0;
	padding-left: 29px;
	font:bold 15px arial, sans-serif;
}

.menu a:hover {
	font-size: blod;
}

#content {
	margin: 0 20px 30px 190px;
}

#content h1 {
	margin: 10px 0 10px 10px;
	background-position: 0 6px;
}

#content h2 {	
	padding: 0 0 0 5px;
	margin: 10px 0 0px 0;
}

#content p {
	margin-left: 25px;
}

#footer
{
	clear: both;
	position: absolute;
	bottom: 0;
	left:0;
	right:0;
	text-align: right;
	margin-top: 10px;
	padding-right: 10px;
}

#dialog-action
{
	position: fixed;
	top:0px;
	width: 100%;
	z-index:99;
}