@CHARSET "UTF-8";

#header_left {
	background-image: url("%IMPEESA_MAIN_LINK%resource/template-default-img-dpsg_logo.jpg");
	background-repeat: no-repeat;
}

#header_right {
	background-image: url("%IMPEESA_MAIN_LINK%resource/template-default-img-banner_stammtenkterer.jpg");
	background-repeat: no-repeat;
}

.menu a {
	background-image: url("%IMPEESA_MAIN_LINK%resource/template-default-img-a_link.gif");
	background-repeat: no-repeat;
}

.menu a:hover {
	background-image: url("%IMPEESA_MAIN_LINK%resource/template-default-img-a_hover.gif");
	background-repeat: no-repeat;
}

/*#content ul {
	list-style-image: url("/resource/template-default-img-list_icon.gif");
}*/

#content h2, table {
	background-image: url("%IMPEESA_MAIN_LINK%resource/template-default-img-news_back.png");
	background-repeat: repeat-x;
}

.gradient
{
	background-image: url("%IMPEESA_MAIN_LINK%resource/template-default-img-boxContent.png");
	background-repeat: repeat-x;
}
